
nav.navbar.navbar-default {
	min-height: 148px;
	background-color:#fff;
	border:none;
	margin-bottom:0px;
}
.nav.navbar-nav .active a{
	background-color:#fff;
}
.nav.navbar-nav .active a:hover{
	background-color:#fff;
}

.nav.navbar-nav li a{
	line-height: 117px;
	font-size: 1.4em;
	margin-right:9px;
	color:#202242;
	
}
.nav.navbar-nav li a:hover{
	color:#ffe13e;
}


.logo{
	line-height: 127px;
	font-size: 2.2em;
	
}
.navbar>.container-fluid .navbar-brand{
	margin-left:140px;
}

 .nav.navbar-nav .active a{
	color:#ffe13e;

}
 .nav.navbar-nav .active a:hover{
	color:#ffe13e;

}
.navbar>.container-fluid .navbar-brand{
	color:#202242;
}

.nav.navbar-nav li a{
	background-color:#fff;
}
#contact{
	display: inline-block;
	width:25%;
	margin-left:10px;
	padding-top:20px;
}
#contact h6{
	margin-left:20px;
}
#contact h3{
	display: inline-block;
	border-left:1px solid rgba(204,204,204,1);
	margin-left: 20px;
	padding-left:20px;
	color:#202242;
}
.btn.btn-primary{
	border:none;
	border-radius:1px;
	width:120px;
	height: 40px;
	background-color:#ffe13e;
	color:#202242;
	font-weight: bold;
	margin-left:20px;
}
ul.nav.navbar-nav{
		border-right:1px solid rgba(204, 204, 204, 0.48);
	}
/********** Body **************/
.container-fluid{
	padding:0px;
	margin-top:0px;

}
.jumbotron{
	background-image: url(../img/foto1.jpg);
	background-repeat: no-repeat;
	margin-bottom: 0px;

}
.jumbotron h1, .jumbotron h2{
	color: #fff;
}
.jumbotron h1{
	font-size: 48px;
	margin-top: 170px;
}
.jumbotron h2{
	font-size: 30px;

}
#domain{
	margin-top: 230px;
	width: 291px;
	height: 90px;
	border:18px  solid #ccc;
	border-right:none;
	padding-left: 20px;
	font-size: 18px;
}
.btn-group>.btn-group:first-child:not(:last-child)>.btn:last-child, .btn-group>.btn-group:first-child:not(:last-child)>.dropdown-toggle{
	width: 108px;
	height: 90px;
	border:18px solid #ccc;
	border-left:none;
	border-right: none;
	background-color: #ffe13e;
	padding-top: 0px;
	margin-top: 0px;

}
.btn{
	border-radius: 0px;
}
.col-md-6>.btn-group{
	margin-top: -2px;
}

.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child){
	height: 90px;
	width: 154px;
	border:18px solid #ccc;
	border-left: 1px solid #fff;
	color: #fff;
	background-color: #ffe13e;
	padding-top: 0px;
}
.box-border{
	height:90px;
	background-color: #ccc;
	margin-top:230px;
	padding-top: 18px;
}
.webhostservice{
	background-color: #202242;
	height: 650px;
}
.domainservice{
	background-color: #ffe13e;
	height: 650px;
}
.row{
	margin-left: 0px;
	margin-right:0px;
}
@media (max-width: 767px) {
	.nav.navbar-nav li a{
		font-size: 1.3em;
		margin-right:0px;
		line-height: 12px;
		color:#202242;
	}
	.nav.navbar-nav{
		margin-left: 0px;
	}
	#edisoni{
		margin-top:100px;
		border-top:none;
	}
}

@media (max-width: 991px){

	.nav.navbar-nav li a{
		font-size: 1.4em;
		margin-right:0px;
		color:#202242;
	}

	.navbar>.container-fluid .navbar-brand{
		margin-left:10px;
	}

}
@media (min-width: 991px){
	.nav.navbar-nav {
		margin-left:69px;
	}
}
@media  (min-width: 768px){
	ul.nav.navbar-nav{
		margin-left:40px;
	}
}



@media (max-width: 991px;){
#domain{
	
	width: 191px;
}
.btn-group>.btn-group:first-child:not(:last-child)>.btn:last-child, .btn-group>.btn-group:first-child:not(:last-child)>.dropdown-toggle{
	width: 70px;

}

.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child){
	width: 130px;

}
}
@media (min-width: 991px) and (max-width: 1170px){
	#domain{
	font-size: 15px;
	width: 191px;
}
.btn-group>.btn-group:first-child:not(:last-child)>.btn:last-child, .btn-group>.btn-group:first-child:not(:last-child)>.dropdown-toggle{
	width: 65px;

}

.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child){
	width: 140px;

}
}
@media (max-width: 1300px) and (min-width: 1171px){
#domain{
	
	width: 241px;
}
.btn-group>.btn-group:first-child:not(:last-child)>.btn:last-child, .btn-group>.btn-group:first-child:not(:last-child)>.dropdown-toggle{
	width: 90px;

}

.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child){
	width: 150px;

}

}