#einsteinMonroButtons{
	margin-left: 45%;
}

#einsteinMonroResult{
	font-size: 20px;
	display: block;
	padding-top: 15px;
	text-align: center;
	margin:0 auto;
}
#einsteinMonroButtons span{
	padding: 5px;
	margin-right: 5px;
	margin-left: 5px;
	background-color: rgba(0,0,0,0.5);
	
}
#einsteinMonroButtons #einsteinMonroStop,#einsteinMonroButtons #einsteinMonroStart{
	border-radius: 5px;
	cursor: pointer;
}

#einsteinMonroBackground{
	position:absolute;
	z-index:1000000;
	 width:100vw;
	 height:100vh;
	 background-color:rgba(0, 0, 0, 0.7);
	 top:0;
	 left:0;
	 margin: 0 auto;
}
#videoChatDiv{
	position:absolute;
	z-index:1000000;
	 width:100vw;
	 height:100vh;
	 background-color:rgba(0, 0, 0, 0.7);
	 top:0;
	 left:0;
	 margin: 0 auto;
}
#einsteinMonro{
	position:absolute;
	z-index:10000000;
	 width:80vw;
	 height:80vh;
	 background-color:bisque;
	 top:10vh;
	 left:10vw;
	 margin: 0 auto;
	 border-radius: 5px;
}

#testo-shikimin{
	text-align: center;
}
#testo-shikimin-span{
	display: inline-block;
	background-color: #FF9933;
	line-height: 30px;
	color:#4B4B4D;
	border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
	
}

#messages{
	width: 50px;
	background: transparent;
	height: 500px;
	margin-left: 500px;
	margin-top:100px;
	position: absolute;
}
#personal_table{
	
    width: 440px;
}
#background2{
	position: absolute;
	margin-left: 89.3%;
	margin-top: 50px;
	width: 380px;
	height: 700px;
	background:url("back2.png");
	background-repeat: no-repeat;
}
#background3{
	position: absolute;
	margin-left: 79.5%;
	margin-top: 50px;
	width: 600px;
	height: 700px;
	background:url("back3.png");
	background-repeat: no-repeat;
}

#background1{
	position: absolute;
	margin-left: 83.5%;
	margin-top: 5%;
	width: 100%;
	height: 120%;
    background-size: 100% 100%;
	background:url("back1.png");
	background-repeat: no-repeat;
}

#header_image{
	background: url("header.png");
	background-repeat: no-repeat;
    background-size: 100% 100%;
	width: 100%;
	height: 10%;
}

#shiriti {
	background-image: url("shiriti.png");
	background-repeat: no-repeat;
	position: absolute;
	z-index: 1000;
	width: 625px;
	height:50px;
	margin-left: 500px;
	margin-top: 2px;
}


#logo{
  background-image: url("logoemedica2.png");
  background-repeat: no-repeat;
  background-size: 70%;
  position: absolute;
  width: 40%;
  height: 30%;
  margin-left: 3%;
  top: 12%;
  z-index: 10002;
}

 #prof{
	height:850px ;
	border:none;
	background-image: url("test1.png");
	background-color: #E6E8D8;
	opacity: 0.9;
	
}

#djag{
	height:850px ;
	border: none;
	background-image: url("test1.png");
	background-color: #E6E8D8;
	opacity: 0.9;
	
}
#msg1{
	height:850px ;
	background-image: url("test1.png");
	background-color: #E6E8D8;
	opacity: 0.9;
	
}
#njof{
	height:850px ;
	background-image: url("test1.png");
	background-color: #E6E8D8;
	opacity: 0.9;
}
body {font-size:1.2em Arial; margin: 0px; padding: 0px; background-color: #fff;}
.logout_button {
	float: right;
	margin-top: 20px;
	position: relative;
	z-index: 1002;
	height: 40px;
	width: 100px;
	background-color: #FF9933; 
}
a { 
	
	color: #ccc;
	text-decoration: none;
	
	   }
h1.fpo_text { color: #aaa; font-family: Times; font-size: 24px; background:transparent; }
p.fpo_text { color: #aaa; font-family: Times; font-size: 16px; }

.sp h2 { font-size: 1.15em; margin: 0 0 .5em 0; }
.sp p { font-size: 1em; margin: 0 0 1em 0; }

/* layout */
.sp { overflow: hidden; width: 100%; position: relative; float: right; margin: 50px 0px 10px 25px; background: transparent;}
.sp1 { overflow: hidden; width: 100%; position: absolute; float: right; top: 0; }

.sp .tabs {width: 60%; position: relative; z-index: 101; display: none; margin:0px 0px 0px 40%; background: transparent; font-family: 'Lucida Sans Typewriter';}
@font-face {
    font-family: "Roboto";
    src: url(Roboto-Medium.ttf) format("truetype");
}

.sp .tabs li {
	display: inline-block;
	border-top: 0px solid #ccc;
	border-bottom: 0px solid #ccc;
	padding: 8px 20px 4px 5px;
	margin: 0px;
	background: transparent;
	cursor: pointer;
	position: relative;
	font-size: 28px;
	font-family:"Roboto" ;
	color: #795548;
	
	
}

.sp .tabs li:first-child {
	padding-left: 15px;
	border-left: 0px solid #ccc;
	border-right: 0px solid #ccc;
	-webkit-border-top-left-radius: 12px;
	-moz-border-radius-topleft: 12px;
	border-top-left-radius: 12px;
}

.sp .tabs li:last-child {
	padding-right: 15px;
	border-left: 0px solid #ccc;
	border-right: 0px solid #ccc;
	-webkit-border-top-right-radius: 12px;
	-moz-border-radius-topright: 12px;
	border-top-right-radius: 12px;
}

.sp .tabs li.selected {
	color: #00BCD4;

}

.sp .panel_container {
	position: relative;
	border: 0px solid #ccc;
	background:transparent;
	overflow: hidden;
	z-index: 100;
	margin-top: 20px;
	background: transparent;
}
.sp1 .panel_container1 {
	position: relative;
	border: 0px solid #ccc;
	background-color: #fff;
	overflow: hidden;
	z-index: 100;
	top: 0;
}

.sp .panel_container .panel .panel_content { padding: 15px 15px 5px 15px; height: 100%; background: transparent; }


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: transparent;
    }

#personale{
	margin-left: 8%;
	margin-right: 10%;
	margin-top: 50px;
	display: inline-block;
	background-color:transparent;
	width: 25%;
	height: 60%;
	
}
#personal_table tr{
	height: 30px;
}
#mjekesore_table tr {
	height: 30px;
}
#njoftime_foto{
	width: 850px;
	height: 80px;
	background:url("shiritmenu3.png"); 
	background-repeat: no-repeat;
}
#mesazhe_foto{
	margin-left: 250px;
	margin-top: 50px;
	width: 850px;
	height: 80px;
	background:url("shiritmenu4.png"); 
	background-repeat: no-repeat;
}
#mjekesore{
	position: absolute;
	display: inline-block;
	background:transparent;
	margin-left: 140px;
	margin-top: 50px;
	width: 48%;
	height: 120%;
}
#diag{
	margin-top: 50px;
}
#title_personale{
	height: 60px;
	width: 500px;
	
	margin-bottom: 20px;
	background: url("shiritmenu2.png");
	background-repeat: no-repeat;
	
}
 #titulli_personale{
 	margin-left: 150px;
 	padding-top: 17px;
	font-size: 24px;
	margin-top: 10px;
	font-family: "Comic Sans MS", "Comic Sans";
	font-weight: bold;
	color: #F9A825; 
}
#title_mjekesore {
	margin-left: 10px;
	height: 60px;
	
	margin-top: 10px;
	margin-bottom: 20px;
	background: url("shiritmenu.png");
	background-repeat: no-repeat;
	
}
#mjekesore table{
	margin-left: 12px;
    width: 435px;
    
    
}
#mjekesore table,#personal_table,#djag_tabel,#njoftime {
	color: rgb(248, 166, 33);
	background: rgb(75, 75, 77);
}

#titulli_mjekesore{
	margin-left: 40px;
	padding-top: 17px;
	font-size: 24px;
	font-family: "Comic Sans MS", "Comic Sans";
	font-weight: bold;
	color: #F9A825; 
}
#njoftime{
	margin: 0 auto;
	width:100%;

}
#njoftime_pacient_table{

	border: 2px solid #ccc;
		margin-bottom: 5px;
}
#njoftime #titulli_njoftimit{
	text-align: center;
	font-size: 18px;
	
}
#njoftime td{
	text-align: center;
	margin:0 auto;
	height: 25px;
	
}

#body_div{
	width: 100%;
    
	overflow: hidden;
}
#notifications{
	margin-left: 260px;
	margin-top: 50px;
	width: 65%;
	display: inline-block;
	background: transparent;
}
#user_notification{
	display: inline-block;
	width: 90%;
	height: 500px;
	
}

#child_notification{
	width: 90%;
	height: 150px;
	background: transparent;

}
#kalendar{
	position: absolute;
	display: inline-block;
	margin-top: 50px;
	height: 400px;
	width: 700px;
	background: transparent;
	margin-left: 20px;
}
#djag_tabel tr{
	height: 50px;
}

#messages{
	width: 60%;
	background: transparent;
	height: 500px;
	margin-top: 20px;
	margin-left: 310px;
	
	
}
#mesazhe_titulli{
	margin-left: 280px;
	padding-top: 20px;
	font-size: 30px;
	color: #795548;
	font-family: "Comic Sans MS", "Comic Sans";
	font-weight: bold;
}
#njoftime_titulli{
	margin-left: 280px;
	padding-top: 20px;
	font-size: 30px;
	color: #795548;
	font-family: "Comic Sans MS", "Comic Sans";
	font-weight: bold;
}

#chatlogs{
	overflow: scroll; 
	overflow-x: hidden;
	border:1px solid #ccc;
	width: 500px;
	height: 270px;
	word-wrap:break-word;
	padding: 10px 10px 10px 10px;
	background-color:whitesmoke;
	padding-bottom:60px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;

}
#calendar {
		max-width: 500px;
	background: transparent;
	}

	#sh_color{
	background-color:#00BCD4;
	height:38px;
	margin-top: 50px;
	margin-left: 500px;
	opacity:0.3;
	position:absolute; 
	top:0;
 	width:115px;
 	z-index:100;
  }
 .uName{ 
color:#00F;
font-weight:bold;
font-size:15px;
font-family:Verdana, Geneva, sans-serif;
}
/*================================================================*/
/*================================================================*/
/*================================================================*/
/*================================================================*/

.right{
	float:right;
	margin-bottom:1px;
}

.right1{
	background-image: url(right.png);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 324px 12px;
    margin-bottom: -5px;
}
.left{
	float: left;
	margin-bottom:1px;
}
.left1{
	background-image: url(left.png);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 52px 12px;
    margin-bottom: -5px;
}


/*.left div.mesazhi_span{
    position: relative;
    display: inline-block;
    padding-left: 10px;
    margin-left: 30px;
    width: 45%;
    background: rgba(86, 208, 112, 0.62);
    line-height: 24px;
    border-radius: 5px;
}*/
.msg-container{
	width:80%;
}
.right{
	text-align: right;
}
.right div.mesazhi_span{
   	display: inline-block;
	padding-right: 10px;
    margin-right: 25px;
    width: 65%;
    background: rgb(79, 112, 130);
    line-height: 30px;
    border-radius: 5px;
    color:white;
}
.left div.mesazhi_span{
	display: inline-block;
	padding-left: 10px;
    margin-left: 25px;
    width: 65%;
    background: rgb(146, 222, 162);
    line-height: 30px;
    border-radius: 5px;
    color:white;
}
.sender_pacient{
	display: inline-block;
    background: rgba(12, 58, 84, 0.71);
    padding: 5px;
    border-radius: 50px;
    color: white;
    margin-top: 5px;
    font-size: 15px;
 	font-family:Georgia, "Times New Roman", Times,serif;
 	width: 30px;
 	height: 30px;
 	border: 1px solid #92DEA2;
}
.sender_doktor{
    display: inline-block;
    background: rgba(86, 208, 112, 0.62);
    padding: 5px;
    border-radius: 50px;
    color: white;
    margin-top: 5px;
    font-size: 15px;
 	font-family:Georgia, "Times New Roman", Times,serif;
 	width:30px;
 	height:30px;
 	border: 1px solid #4F7082;
}
.sender_pacient1{
	display: inline-block;
    background: rgba(12, 58, 84, 0.71);
    padding: 5px;
    border-radius: 50px;
    color: white;
    margin-top: 5px;
    font-size: 15px;
 	font-family:Georgia, "Times New Roman", Times,serif;
 	width: 30px;
 	height: 0px;
 	border: 1px solid #92DEA2;
}
.sender_doktor1{
    display: inline-block;
    background: rgba(86, 208, 112, 0.62);
    padding: 5px;
    border-radius: 50px;
    color: white;
    margin-top: 5px;
    font-size: 15px;
 	font-family:Georgia, "Times New Roman", Times,serif;
 	width:30px;
 	height:0px;
 	border: 1px solid #4F7082;
 	vertical-align: middle;
}
.button{
 text-align:center;
 background-color:#00F;
 border-width:2px;
 border-style:solid;
 border-color:#000;
 color:#FFF;
 padding-left:10px;
 padding-right:10px;
 text-decoration:none;
}
#mesagetext{
	margin-left:10px;
	resize: none;
    margin-top: -50px;
    display: -webkit-box;
    position: relative;
    background: white;
    width:96%;
    border-radius: 5px;
    border-color: #E5E3E3;
    box-sizing: border-box;
    padding-right: 163px;
}

.send{
	z-index: 2;
    position: absolute;
    right: 17px;
    margin-top: 6px;
    border: 0px;
    padding: 3px 10px;
    border-radius: 5px;
    background: #249ADB;
    color: white;
}
.videoChat{
	z-index: 2;
    position: absolute;
    right: 74px;
    margin-top: 6px;
    border: 0px;
    padding: 3px 10px;
    border-radius: 5px;
    background: #249ADB;
    color: white;
}


.inicialet{
	line-height: 30px;
	color: #F7931E;
    font-weight: bold;
}




#chatlogs::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 5px;
}

#chatlogs::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;

}

#chatlogs::-webkit-scrollbar-thumb
{
	background-color: #F90;	
	border-radius: 5px;
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}

.msg_bottom{
	position: relative;
    width: 510px;
    background: whitesmoke;
    height: 50px;
    z-index: 10;
    margin-left:1px;
}
#remoteVideos{
	margin-top: 5%!important;
	height: 500px;
	width: 500px;
	margin: 0 auto;
}
#localVideo {
	height: 150px!important;
	width: 150px!important;
	margin-top: 33.5%;
    margin-right: 30.5%;
	float: right;
}
#remoteVideos video {
	height: 500px;
	width: 500px;
}













